body {
    margin: 0px;
    padding: 0px;

    display: grid;

    grid-template-areas:
        "logo name"
        "sidebar content"
        "sidebar footer";

    grid-template-columns: 150px 6fr;
    grid-template-rows: 150px 10fr 1fr;
}

.logo {
    width: 150px;
    height: 150px;

    grid-area: logo;
}

.name {
    grid-area: name;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    margin-bottom: auto;
}

.footer {
    grid-area: footer;
}
