body {
    margin: 0px;
    padding: 0px;

    min-height: 100vh;
    min-width: 100vw;

    display: grid;

    grid-template-areas:
        "logo header"
        "sidebar content"
        "sidebar footer";

    grid-template-columns: 150px 6fr;
    grid-template-rows: 150px 10fr 1fr;
}

.logo {
    width: 150px;
    height: 150px;

    grid-area: logo;
}

.header {
    grid-area: header;
}

.banner {
    background-color: aqua;
}

.sidebar {
    grid-area: sidebar;
    background-color: teal;
}

.content {
    grid-area: content;
    margin-bottom: auto;
    background-color: goldenrod;
}

.footer {
    grid-area: footer;
    background-color: peru;
}
