:root {
    --header-text-color: #AC3B61;
    --aside-background-color: #EDC7B7;

    --normal-text-color: #123C69;
    --normal-background-color: #EEE2DC;
    --alternate-background-color: #BAB2B5;

    --menu-background-color: #E8E8E4;
    --text-color: #2F3E46;
    --background-color: #F8EDEB;
}

body {
    margin: 0px;
    padding: 0px;

    color: var(--normal-text-color);
    background-color: var(--normal-background-color);
}

ul, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.app {
    min-height: 100vh;
    min-width: 100vw;

    display: grid;

    grid-template-areas:
    "logo header"
    "sidebar content"
    "sidebar footer";

    grid-template-columns: 150px 6fr;
    grid-template-rows: 150px 10fr 1fr;
}

.logo {
    width: 150px;
    height: 150px;

    grid-area: logo;
}

.header {
    grid-area: header;
}

.banner {
    display: flex;
    background-color: var(--aside-background-color);
    color: var(--header-text-color);

    justify-content: center;
    align-items: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--aside-background-color);
    color: var(--header-text-color);
}

.project-item {
    padding-left: 8px;
    margin: 0px 2px;
}

.active {
    border: 2px solid var(--header-text-color);
    padding-left: 6px;
    margin: 0px;
}


.sidebar button {
    margin-left: 8px;
}

.content {
    grid-area: content;
    margin-bottom: auto;
}

.footer {
    grid-area: footer;
    background-color: var(--aside-background-color);
    color: var(--header-text-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.action-bar {
    display: flex;
}

.action {
    min-height: 36px;
    padding: 0px;

    background-color: var(--alternate-background-color);
}

.action > svg {
    margin: 5px;
}

.hamburger {
    margin-right: auto;
    position: relative;
}

svg {
    min-width: 15px;
    min-height: 15px;
}

.delete-all {
    text-align: right;
}

table {
    width: 100%;
}

td:nth-last-child(2),
th:nth-last-child(2) {
    width: 100%;
}

.value, .head-value {
    min-width: 100px;
}

tr:nth-child(2n) {
    background-color: var(--alternate-background-color);
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.dropdown-menu {
    position: absolute;
    background-color: var(--alternate-background-color);

    min-width: 15ch;

    margin-top: 2px;
    margin-left: -2px;
}

.dropdown-action {
    padding: 5px;

    border: 2px solid;
    border-color: #e3e3e3 #979797 #979797 #e3e3e3; 
}

.hidden {
    visibility: hidden;
}

